.boardRoom-columnContainer {
    display: flex;
    flex-direction: column;

    .boardRoom-column_title {
        letter-spacing: $letter-spacing;
        text-transform: uppercase;
        color: $pink-primary;
        font-weight: 300;

        text-align: center;
    }
}