.messageInput-container {
    display: grid;
    grid-template-columns: 1fr 4rem;

    // position: sticky;
    
    .messageInput-input {
        outline: 2px solid $pink-tertiary;
        background-color: transparent;
        border-radius: 15px;

        font-size: $regular;
        font-weight: 500;
        letter-spacing: $letter-spacing;
        color: $pink-tertiary;

        padding: 0 1rem;

        // $
        // TODO -> make this huge each time

        &::placeholder {
            color: $pink-tertiary;
        }
    }

    .messageInput-icon {
        color: $pink-tertiary;

        cursor: pointer;

        align-self: center;
        justify-self: center;
    }

    
}