.boardRoom-main {
    height: 100%;
    width: 100%;

    display: grid;
    place-items: center;

    .boardRoom-container {
        height: 95%;
        width: 95%;

        display: grid;
        grid-template-rows: auto 1fr;

        .boardRoom-header {
            margin-bottom: 1rem;

            display: flex;
            justify-content: space-between;

            .boardRoom-header_title {
                text-transform: uppercase;
                color: $pink-primary;
                font-size: $medium;
                letter-spacing: $letter-spacing;

                margin-left: 4rem;
            }
        }

        .boardRoom-content {
            width: 100%;
            height: 100%;

            display: grid;
            grid-gap: 1.6rem;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}