.chatRoom-main {
    // $
    background-color: purple;

    display: grid;
    place-items: center;

    height: 100%;
    max-height: 100%;

    overflow: hidden;
     
    
    .chatRoom-container {
        // $ TODO -> make this responsive
        width: 95%;
        height: 95%;
    
        // max-height: 100%;
        // overflow-y: scroll;

        display: grid;
        grid-template-rows: 1fr 3rem;

        // overflow-y: auto;
// 
        .chatRoom-messageContainer {
            // position: relative;

            background-color: red;
            max-height: calc(100% - 3rem);
            // max-width: 100%;
            overflow: auto;
            // overflow-y: scroll;
        }
    }
}